{"m_basis": "avdz", "m_method": "gdirect;\n{ks,pbe0}", "c_files": ["tip3.pc"], "c_dcm_command": "open unit 11 card read name tip3.pc \nDCM IUDCM 11 TSHIFT XYZ 15", "theory_name": "pbe0dz", "m_nproc": 4, "m_memory": 150, "m_queue": "short", "chmpath": "/home/boittier/dev-release-dcm/build/cmake/charmm", "modules": "module load cmake/cmake-3.23.0-gcc-11.2.0-openmpi-4.1.3"}