{"m_basis": "avdz", "m_method": "gdirect;\n{ks,pbe0}", "c_files": ["waterpol.mdcm", "water_kern/water.kern", "water_kern/x_fit.txt", "water_kern/coefs0.txt", "water_kern/coefs1.txt", "water_kern/coefs2.txt", "water_kern/coefs3.txt", "water_kern/coefs4.txt", "water_kern/coefs5.txt", "water_kern/coefs6.txt", "water_kern/coefs7.txt", "water_kern/coefs8.txt", "water_kern/coefs9.txt", "water_kern/coefs10.txt", "water_kern/coefs11.txt", "water_kern/coefs12.txt", "water_kern/coefs13.txt", "water_kern/coefs14.txt", "water_kern/coefs15.txt", "water_kern/coefs16.txt", "water_kern/coefs17.txt"], "c_dcm_command": "open unit 11 card read name waterpol.mdcm \nopen unit 12 card read name water.kern \nDCM KERN 12 IUDCM 11 TSHIFT XYZ 15", "theory_name": "pbe0dz", "m_nproc": 4, "m_memory": 150, "m_queue": "short", "chmpath": "/home/boittier/dev-release-dcm/build/cmake/charmm", "modules": "module load cmake/cmake-3.23.0-gcc-11.2.0-openmpi-4.1.3"}