{"m_basis": "avdz", "m_method": "{ks,pbe0}", "c_files": ["meoh_pbe0dz.pc"], "c_dcm_command": "open unit 11 card read name meoh_pbe0dz.pc \nDCM IUDCM 11 TSHIFT XYZ 15", "m_nproc": 8, "m_memory": 150, "m_queue": "short", "chmpath": "/home/boittier/dev-release-dcm/build/cmake/charmm", "modules": "module load cmake/cmake-3.23.0-gcc-11.2.0-openmpi-4.1.3"}