{"m_basis": "basis={\ndefault=aug-cc-pvtz-f12\nset,jkfit,context=jkfit\ndefault=aug-cc-pvtz-f12\nset,mp2fit,context=mp2fit\ndefault=aug-cc-pvtz-f12\n}\n! Set wave function properties\nwf,spin=0,charge=0\n! F12 parameters\nexplicit,ri_basis=jkfit,df_basis=mp2fit,df_basis_exch=jkfit\n! density fitting parameters\ncfit,basis=mp2fit\n", "m_method": "{df-hf,basis=jkfit}\n{df-mp2-f12,cabs_singles=-1}\n{pno-lccsd(t)-f12}", "c_files": ["meoh_pbe0dz.pc"], "c_dcm_command": "open unit 11 card read name meoh_pbe0dz.pc \nDCM IUDCM 11 TSHIFT XYZ 15", "m_nproc": 8, "m_memory": 150, "m_queue": "short", "chmpath": "/home/boittier/dev-release-dcm/build/cmake/charmm", "modules": "module load cmake/cmake-3.23.0-gcc-11.2.0-openmpi-4.1.3"}